/******************DEFAULT SETTINGS******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* HEADER */
header {
    background-color: lightskyblue;
    padding-bottom: 2rem;
}

.header {
    background-color: lightskyblue;
    width: 100%;
}

.top-bar {
    background-color: burlywood;
    border: 3px black dotted;
    height: 2rem;
}

.banner {
    background-color: blue;
    width: 100%;
    padding: 2rem;
}

.banner-caption {
    background-color: darkorchid;
    width: 50%;
    height: 20rem;   
    border: 2px dotted black;
}

/* MENU */

.menu {  
    width: 30%; 
}

.logo {
    width: 20%;
}

.login {
    width: 20%;
}

/* MAIN */

.white {
    background-color: white;
    width: 100%;
}

.gray {
    background-color: lightgray;
    width: 100%;
}

.blue {
    background-color: blue;
    width: 40%;
    height: 400px;
    border: 2px dotted black;
}

.rosa {
    background-color: pink;
    width: 20%;
    height: 400px;
    border: 2px dotted black;
}

.big-square {
    width: 60%;
    height: 500px;
    background-color: green;
    border: 2px dotted black;
}

/* FOOTER */

footer {
    background-color: black;
}

.piedi {
    width: 60%;
}

.red {
    min-width: 300px;
    height: 400px;
    background-color: red;
    border: 2px dotted white;
}

.green {
    background-color: greenyellow;
    width: 200px;
    height: 400px;
    border: 2px dotted white;
}

.container {
    border-bottom: 1px solid white;
}

.end {
    background-color: mediumaquamarine;
    width: 60%;
    justify-content: space-between;
    border: 2px dotted black;
}

button {
    border: 2px dotted black;
}

.logo-small {
    border: 2px dotted black;
}

