/******************DEFAULT SETTINGS******************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* HEADER */
header {
    background-color: lightskyblue;
    height: 25rem;
}

.header {
    background-color: lightskyblue;
    width: 100%;
}

.top-bar {
    background-color: burlywood;
    border: 1px black solid;
    height: 2rem;
}

.banner {
    background-color: blue;
    width: 100%;
    height: 20rem;
}

.banner-caption {
    background-color: darkorchid;
    width: 50%;
    height: 60%;   
}

/* MENU */

.menu {  
    width: 30%; 
}

.logo {
    width: 20%;
}

.login {
    width: 20%;
}

/* MAIN */

.white {
    background-color: white;
    width: 100%;
}

.gray {
    background-color: lightgray;
    width: 100%;
}

.blue {
    background-color: blue;
    width: 40%;
    height: 400px;
}

.rosa {
    background-color: pink;
    width: 20%;
    height: 400px;
}

.big-square {
    width: 60%;
    height: 500px;
    background-color: green;
}